/*===============
   Basic Style
================*/

body {
  font-size: 14px;
  line-height: normal;
  font-family: "Google Sans", "Noto Sans", ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  letter-spacing: normal;
  word-break: break-word;
  transition: all 0.2s;
}

:link,
:visited {
  color: #1a73e8;
  outline: 0;
  word-break: break-word;
  transition: all 0.2s;
}

.wrapper {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1488px;
}

.inner {
  padding: 16px 0;
}

.btn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 24px;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 4px;
  background-color: #fff;
  transition: all 0.2s;
  font-weight: 500;
}

.btn:hover,
.btn.active,
.checkbox input:checked ~ .btn {
  background-color: rgb(232, 240, 254);
  border-color: rgb(210, 227, 252);
}

.btn.btn-primary {
  background-color: #3871e0;
  color: #fff;
  border: 0;
  font-weight: 500;
}

.btn.btn-primary:hover,
.btn.btn-primary:active {
  background-color: #1765cc;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn.btn-primary:active {
  background-color: #185abc;
}

.checkbox {
  position: relative;
  display: grid;
  overflow: hidden;
  grid-template-rows: auto 0fr;
  width: 100%;
  transition: all 0.2s;
}

.checkbox input {
  width: 100%;
  appearance: none;
  opacity: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  z-index: 2;
  cursor: pointer;
}

.checkbox div {
  grid-column-start: 1;
  grid-row-start: 1;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--clamp-lines, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.slider {
  display: grid;
  grid: minmax(40px, auto) / 0 48px 1fr 48px 0;
  align-items: center;
}

.slider-list {
  grid-column: 2/-2;
  grid-row: 1;
}

.pager {
  display: grid;
  place-items: center;
  height: 40px;
  width: 40px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 100%;
  overflow: visible;
  z-index: 20;
  cursor: pointer;
  border: 1px solid rgb(218, 220, 224);
  opacity: 0;
}

.pager .material-icons {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: rgb(95, 99, 104);
}

.pager.next {
  grid-column: -1/-3;
  grid-row: 1;
}

.felx-1 {
  flex: 1 1 0%;
}

main {
  margin-top: 49px;
}

/*===============
   Header
================*/

.master-header {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  z-index: 999;
}

.master-header .hamburger,
.master-header .search-icon {
  display: flex;
  align-items: center;
}

.master-header .hamburger {
  border-radius: 50%;
  padding: 8px;
  transition: all 0.2s;
  width: 40px;
  cursor: pointer;
  color: #595959;
}

.master-header .hamburger:hover {
  background-color: #f1f3f4;
  color: #000;
}

.master-header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  word-break: keep-all;
}

.master-header .logo {
  height: 36px;
  margin: 6px 0;
}

.master-header .logo img {
  height: 32px;
}

.master-header .menu {
  overflow-x: hidden;
  margin-left: 32px;
}

.master-header .menu,
.master-header .menu-more {
  align-self: stretch;
}

.master-header .menu ul,
.master-header .menu-more ul {
  display: flex;
  flex-wrap: nowrap;
  word-break: keep-all;
  gap: 30px;
}

.master-header .menu ul li,
.master-header .menu-more ul li {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(95, 99, 104);
  cursor: pointer;
}

.master-header .menu ul li:hover:after,
.master-header .menu-more ul li:hover:after {
  border-radius: 3px 3px 0 0;
  border-top: 3px solid rgb(95, 99, 104);
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
}

.master-header .menu-more {
  padding-left: 14px;
}

.master-header .search {
  flex: 1;
}

.master-header .search {
  display: flex;
  justify-content: end;
}

.master-header .search-icon {
  justify-content: end;
  color: #595959;
}

.master-header .search-bar i,
.master-header .search-icon i {
  height: 24px;
}

.master-header .search-bar {
  height: 36px;
  width: 200px;
  background-color: #f1f3f4;
  border-radius: 4px;
  align-items: center;
  gap: 6px;
  padding: 0 10px;
  color: rgb(95, 99, 104);
  font-size: 16px;
}

.master-header .account a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #3871e0;
  line-height: 36px;
  padding: 0 8px;
  border-radius: 4px;
  transition: all 0.2s;
  word-break: keep-all;
}

.master-header .account a:hover {
  background-color: #e9f0fd;
}

.master-header .menu,
.master-header .menu-more,
.master-header .search-bar,
.master-header .language {
  display: none;
}

/*===============
   Main Content
================*/

.banner {
  background-color: #f1f3f4;
}

.banner-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: #000000a6;
  max-width: 1488px;
  margin: 0 auto;
}
.banner .banner-message img {
  width: 122px;
}

.banner .banner-message span {
  display: block;
}

.banner .banner-button a {
  margin-top: 12px;
}

.hero {
  padding: 0 16px;
}

.hero .hero-wrapper {
  padding: 16px 0;
  max-width: 1488px;
  margin: 0 auto;
}
.hero .hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-title .title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero .hero-title h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 85px;
  margin-bottom: 16px;
}

.hero .hero-title h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

.hero .hero-graphic {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero .hero-graphic-cta {
  padding-top: 8px;
  margin-left: 12px;
}

.hero .hero-graphic-cta h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.hero .hero-graphic-cta-link {
  display: flex;
  gap: 5px 15px;
  flex-wrap: wrap;
}

.hero .hero-graphic-cta-link li:first-child {
  flex-basis: 100%;
}

.hero .hero-graphic-cta-link li a {
  border: 2px solid #000;
  line-height: 33px;
}

.hero .hero-graphic-cta-link .material-icons {
  vertical-align: text-top;
  font-size: 18px;
  height: 18px;
  width: 18px;
}

.products {
  padding: 16px 26px;
  background-color: #f1f3f4;
}

.products .products-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  max-width: 1488px;
  margin: 0 auto;
}

.products .products-title h4 {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 16px;
  line-height: 36px;
}

.products .products-title .material-icons {
  display: block;
  font-size: 16px;
  height: 16px;
  width: 16px;
  color: rgb(32, 33, 36);
}

.products .products-title .products-title-link {
  padding: 0 12px;
}

.products .products-title .products-title-link a {
  display: flex;
  gap: 8px;
  align-items: center;
}

.products .products-title .products-title-link .material-icons {
  display: block;
  font-size: 18px;
  height: 18px;
  width: 18px;
  color: #1a73e8;
}

.products .products-catgories .list {
  overflow-y: auto;
  padding: 8px 24px;
  margin-inline: -16px;
}

.products .products-catgories ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}

.products .products-catgories .checkbox {
  overflow: visible;
}

.products .products-catgories ul li .checkbox .btn {
  height: 32px;
  word-break: keep-all;
  white-space: nowrap;
  font-size: 14px;
  line-height: 32px;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
}

.products .products-catgories .checkbox:hover .btn {
  background-color: rgb(248, 249, 250);
}

.products .products-catgories .checkbox input:checked:focus ~ .btn,
.products .products-catgories .checkbox input:checked:hover ~ .btn {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.products .products-catgories .checkbox input:checked ~ .btn,
.products .products-catgories .checkbox:hover input:checked ~ .btn {
  color: #1a73e8;
  border-color: rgb(26, 115, 232);
  background-color: rgb(232, 240, 254);
}

.products .products-list .slider-list {
  overflow-y: auto;
  padding: 8px 24px;
  margin-inline: -16px;
}

.products .products-list .products-list-cards {
  display: flex;
  gap: 16px;
}

.products .products-list .products-list-card {
  flex: 1 0 289.8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid rgb(218, 220, 224);
  background-color: #fff;
}

.products .products-list .products-list-card .card-category {
  font-size: 12px;
}
.products .products-list .products-list-card .card-category .material-icons {
  color: rgb(95, 99, 104);
  font-size: 16px;
  height: 16px;
  width: 16px;
  vertical-align: text-bottom;
}

.products .products-list .products-list-card .card-title {
  font-size: 20px;
  color: rgb(26, 115, 232);
  font-weight: 400;
  line-height: 28px;
  min-height: 56px;
}

.products .products-list .products-list-card .card-content {
  line-height: 24px;
  min-height: 72px;
  word-break: break-word;
  font-size: 16px;
  --clamp-lines: 3;
}

.products .products-list .products-list-card .card-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.products .products-list .products-list-card .card-tags img {
  height: 32px;
}

.products .products-list .products-list-card .card-tags .tag {
  display: flex;
  background: rgb(241, 243, 244);
  color: rgb(95, 99, 104);
  padding: 2px 4px;
  font-size: 14;
  font-weight: 500;
  line-height: 20px;
  height: 24px;
  align-items: center;
}

.feature-products {
  padding: 16px 0;
}

.feature-products .feature-products-wrapper {
  padding: 0 16px;
}

.feature-products h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  line-height: normal;
}

.feature-products-list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 16px;
}

.feature-products .feature-products-list .product-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 32px 25px;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 10px;
}

.feature-products .feature-products-list .product-grid .product-grid-icon {
  display: grid;
  place-items: center;
  height: 96px;
}

.feature-products .feature-products-list .product-grid .product-grid-icon img {
  max-height: 64px;
  width: 64px;
}

.feature-products .feature-products-list .product-grid .product-grid-content {
  text-align: center;
}

.feature-products
  .feature-products-list
  .product-grid
  .product-grid-content
  h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0;
}

.feature-products .feature-products-list .product-grid .product-grid-content p {
  font-size: 16px;
}

.feature-products-cta {
  display: grid;
  place-items: center;
  padding-bottom: 32px;
  padding-top: 8px;
}

.news-carousel {
  padding-bottom: 24px;
}

.news-carousel .news-carousel-wrapper {
  padding: 0 16px;
}

.carousel {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.news-carousel .carousel {
  gap: 20px;
  padding: 32px 40px;
}

.carousel .carousel-img img {
  border-radius: 10px;
  width: 100%;
}

.carousel-content {
  display: flex;
  flex-direction: column;
}

.carousel-content-catgory {
  font-size: 14px;
  font-weight: 400;
  color: rgb(32, 33, 36);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.carousel-content-icon {
  margin-bottom: 8px;
}

.carousel-content-icon img {
  height: 80px;
}

.carousel-content-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}
.carousel-content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: rgb(32, 33, 36);
}

.carousel-content-more {
  display: flex;
  justify-content: flex-start;
  padding-top: 32px;
}

.carousel-content-more .btn {
  font-size: 14px;
  font-weight: 500;
}

.carousel-pagination,
.carousel-pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.carousel-pagination {
  display: none;
  padding-top: 10px;
}

.carousel-pagination ul li:not(.autoplay) {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #5f6368;
  opacity: 0.2;
}

.carousel-pagination ul li.active {
  opacity: 1;
}

.carousel-pagination ul li.autoplay {
  display: grid;
  place-items: center;
}

.carousel-pagination ul li .material-icons {
  font-size: 14px;
  color: #5f6368;
  opacity: 0.2;
}

.android-studio {
  background-color: #f1f3f4;
  margin-bottom: 24px;
}

.android-studio .android-studio-wrapper {
  padding: 64px 0;
}

.android-studio .carousel {
  padding: 0 16px;
}

.android-studio .carousel-content-title {
  font-size: 48px;
}

.showcase .carousel-content-title {
  font-size: 40px;
}

.social {
  padding: 16px 0;
}

.social .social-wrapper {
  padding: 0 16px;
}

.social-list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 16px;
}

.social h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.social-card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
}

.social-card-icon {
  margin: 0 20px 16px 0;
}

.social-card-icon img {
  height: 36px;
  height: 36px;
}

.social-card-content h4 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.social-card-content p {
  font-size: 16px;
}

.social-card-cta {
  padding-top: 16px;
}

.divider {
  border-color: rgb(218, 220, 224);
}

.useful-link-wrapper {
  padding: 0 16px;
}

.useful-link-nav {
  padding: 24px 0;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  border-bottom: 1px solid rgb(218, 220, 224);
}

.useful-link-list h4 {
  margin: 1px 0 4px 0;
  font-size: 16px;
}

.useful-link-list ul li {
  padding: 8px 0;
  line-height: 16px;
}

.useful-link-list ul li {
  padding: 8px 0;
  line-height: 16px;
}

.master-footer a:not(.btn),
.useful-link-list ul li a {
  color: rgb(32, 33, 36);
  transition: all 0.2s;
}

.master-footer a:not(.btn):hover,
.useful-link-list ul li a:hover {
  color: rgb(26, 115, 232);
}

.master-footer-wrapper {
  padding: 0 16px;
}

.master-footer .link {
  padding: 24px 0 23px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid rgb(218, 220, 224);
}

.master-footer .link img {
  height: 32px;
  margin-top: -4px;
  width: 185px;
}

.master-footer .link ul {
  display: flex;
  flex-direction: column;
}

.master-footer nav ul:not(.language):not(.privacy) a {
  display: block;
  padding: 8px 0;
}

.master-footer .privacy-lang {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.master-footer .privacy-lang .privacy {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 8px;
}

.master-footer .privacy-lang .privacy li {
  display: flex;
  align-items: center;
}

.master-footer .privacy-lang .privacy li:not(:last-child):before {
  content: "|";
  margin-inline-end: 8px;
}

.master-footer .privacy-lang .privacy li:first-child:before {
  content: "";
  margin-inline-end: 0;
}

.master-footer .privacy-lang .privacy .newsletter {
  flex: 100%;
  gap: 16px;
}

.master-footer .privacy-lang .privacy .newsletter a {
  padding: 0 24px;
}

.language .btn {
  color: rgb(32, 33, 36);
  display: inline-flex;
  align-items: center;
  padding: 0 7px 0 11px;
  font-weight: 500;
}

.language .btn:hover {
  background-color: rgb(241, 243, 244);
  border-color: rgb(218, 220, 224);
}

.language .btn .language {
  margin-right: 8px;
}

.language .btn .material-icons {
  color: rgb(95, 99, 104);
  font-size: 24px;
  height: 24px;
  width: 24px;
}

/*===============
   Media Query
================*/

@media screen and (min-width: 601px) {
  .wrapper {
    padding: 0 24px;
  }
  .inner {
    padding: 24px 0;
  }
  .master-header .language {
    display: block;
  }
  .banner-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .banner .banner-button a {
    margin-top: 0;
  }
  .hero .hero-wrapper {
    padding: 24px 0;
  }
  .hero .hero-graphic {
    gap: 24px;
  }
  .pager {
    opacity: 1;
  }
  .feature-products-list {
    grid: auto-flow/repeat(2, 1fr);
  }
  .carousel-content-title {
    font-size: 48px;
  }
  .carousel-pagination {
    display: flex;
  }
  .carousel:not(.news-carousel) {
    flex-direction: row;
  }
  .self-center {
    align-self: center;
  }
  .order-\[-1\] {
    order: -1;
  }
  .useful-link-nav {
    grid-template-columns: repeat(auto-fit, minmax(85.4px, 1fr));
  }
}

@media screen and (min-width: 841px) {
  .inner {
    padding: 40px 0;
  }
  .master-header .search-bar,
  .master-header .menu {
    display: flex;
  }
  .master-header .search-icon,
  .master-header .hamburger {
    display: none;
  }
  .master-header .nav {
    gap: 16px;
  }
  .hero .hero-wrapper {
    padding: 40px 0;
  }
  .feature-products-list {
    grid: auto-flow/repeat(4, 1fr);
  }
  .master-footer .link,
  .master-footer .link ul {
    flex-direction: row;
    align-items: center;
  }
  .master-footer .link ul {
    gap: 40px;
  }
  .master-footer ul.language {
    align-self: flex-end;
  }
  .master-footer .privacy-lang {
    flex-direction: row;
    justify-content: space-between;
  }
  .master-footer .privacy-lang .privacy {
    flex: 1;
  }
  .master-footer .privacy-lang .privacy .newsletter {
    flex: 0 0 auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 961px) {
  .hero .hero-wrapper {
    display: grid;
    grid: auto-flow/repeat(2, 1fr);
    gap: 24px;
  }
  .feature-products-cta {
    padding-bottom: 64px;
  }
  .news-carousel .carousel {
    gap: 70px;
  }
  .news-carousel .carousel {
    flex-direction: row;
  }
  .news-carousel {
    padding-bottom: 64px;
  }
  .news-carousel .carousel .carousel-content {
    order: -1;
    align-self: center;
  }
  .carousel .carousel-img {
    align-self: center;
  }
  .news-carousel .carousel {
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
  }
}

@media screen and (min-width: 1201px) {
  .hero .hero-wrapper h1 {
    font-size: 100px;
    line-height: 110px;
  }
  .products .products-list .products-list-card {
    flex-basis: 342px;
  }
}

@media screen and (min-width: 1421px) {
  .hero .hero-graphic-cta-link li:first-child {
    flex-basis: auto;
  }
}

@media screen and (max-width: 930px) {
  .master-header .menu ul li:nth-child(1) {
    display: none;
  }
  .master-header .menu-more {
    padding-left: 0;
  }
}

@media screen and (max-width: 1029px) {
  .master-header .menu ul li:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1131px) {
  .master-header .menu ul li:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 1217px) {
  .master-header .menu ul li:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 1337px) {
  .master-header .menu ul li:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 1346px) {
  .master-header .menu ul li:nth-child(7) {
    display: none;
  }
}

@media screen and (max-width: 1443px) {
  .master-header .menu ul li:nth-child(6) {
    display: none;
  }
}

@media screen and (min-width: 840px) and (max-width: 1447px) {
  .master-header .menu-more {
    display: flex;
  }
}
