/*===============
   Reset Style
================*/

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

html,
body {
  margin: 0;
  padding: 0;
}

/*===============
   Basic Style
================*/

body {
  font-size: 16px;
}

.master-header {
  padding: 10px 40px;
  background-color: #eeeeee;
}

.master-header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.master-header .nav .logo h1 {
  font-size: 1rem;
  font-weight: 400;
}

.master-header .nav .menu {
  display: flex;
  align-items: center;
}

.master-header .nav .menu .mobile-menu svg {
  height: 15px;
  cursor: pointer;
}

.master-header .nav .menu .desktop-menu {
  display: none;
  list-style: none;
  gap: 40px;
}

.slide-menu {
  display: none;
  position: fixed;
  background-color: #fff;
  height: 100%;
  width: 14rem;
  inset: 0px;
  margin-left: auto;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.slide-menu.show {
  display: block;
}

.slide-menu_wrapper {
  position: relative;
  padding: 20px 15px;
}

.slide-menu_wrapper .close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0);
  margin: 10px;
  cursor: pointer;
}

.slide-menu_wrapper ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero-section {
  padding: 80px 10px;
  background-color: #ccddee;
}

.hero-section h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

.main-content {
  margin: 20px 20px;
}

.main-content h2 {
  margin: 30px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.main-content .content-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content-box.hide {
  display: none;
}

.main-content .content-box .box {
  flex: 1 1 100%;
  padding: 10px;
  height: 120px;
  background-color: #8899aa;
  text-align: center;
}

.cta {
  margin: 30px 10px;
}

.cta .btn {
  font-size: 1.1rem;
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #ddeeff;
  cursor: pointer;
}

/*===============
   Media Query
================*/

/* Layout when screen width >= 500px and < 800px  */

@media screen and (min-width: 500px) {
  /* No need to set the max cause all screen size bigger than 500px need this */
  main .main-content .content-box .box {
    flex-basis: calc(50% - 20px); /* Need to minus the gap */
  }
}

/* Layout when screen width >= 800px and < 1200px */

@media screen and (min-width: 800px) {
  /* No need to set the max cause all screen size bigger than 800px need this */
  .master-header .nav .menu .desktop-menu {
    display: flex;
  }

  .master-header .nav .menu .mobile-menu {
    display: none;
  }
}

/* Layout when screen width >= 1200px */

@media screen and (min-width: 1200px) {
}
